In [5]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

In [6]:
column_names = ['user_id', 'item_id', 'rating', 'timestamp']
review_dataset = pd.read_csv('Review.data', sep='\t', names=column_names)

In [8]:
movie_title_dataset = pd.read_csv("Movie_Id_Titles_data.txt")
movie_title_dataset.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)